<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>THE LEGEND, TOMMY ENGEL</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <nav>
        <div class="logo-wrapper">
            <img src="https://imgs.search.brave.com/1DaNIjSZgSi4OJdASf0hYRviYYtUvIWdlm9bnDzh0DA/rs:fit:300:88:1/g:ce/aHR0cHM6Ly93d3cu/dG9tbXllbmdlbC5k/ZS9pbWcvbG9nby5w/bmc" alt="" class="src">
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
        </div>
    </nav>
    <main>
        <img src="https://imgs.search.brave.com/IUtsOztTgZ78N0xMbLxSXV8P4CwoGci45LFNbz2_bEU/rs:fit:940:470:1/g:ce/aHR0cHM6Ly9tb2Jp/bC5rc3RhLmRlL2lt/YWdlLzMzNTI1Njky/LzJ4MS85NDAvNDcw/L2NjNGVmZmY1Njli/MWRkNzBjNWQ2NDAw/Y2UxNWJiYzQ1L3Bv/L2JsYWVjay1mb2Vv/ZXNzLmpwZw" alt="" class="src">
        <p>Tommy Engel (German pronunciation: [ˈtɔmiː ˈʔɛŋl̩], Colognian pronunciation: [ˈtɔmɪ² ˌʔɛŋl̩]; born 1949) is a German musician and actor. He was the lead singer of German band Bläck Fööss through 1994, and has released albums as a solo performer.</p>
    </main>
</body>
</html>