<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE LEGEND, TOMMY ENGEL</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <div class="logo-wrapper">
            <img src="https://imgs.search.brave.com/1DaNIjSZgSi4OJdASf0hYRviYYtUvIWdlm9bnDzh0DA/rs:fit:300:88:1/g:ce/aHR0cHM6Ly93d3cu/dG9tbXllbmdlbC5k/ZS9pbWcvbG9nby5w/bmc" alt="" class="src">
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
        </div>
    </nav>
<main>
    <h1>Welcome to the international fanclub of superstar Tommy Engel</h1>
    <img src="https://imgs.search.brave.com/LkYNET1nnJbWaDOlU8rWhWhgSX3Du8Iy7KJOIlfJcZs/rs:fit:896:448:1/g:ce/aHR0cHM6Ly9tb2Jp/bC5rc3RhLmRlL2lt/YWdlLzYyNzU1Mzgv/MngxLzk0MC80NzAv/YmE3MDMzOWJmNGU5/MDQwMDVmMDViM2Nm/YmQ5MzhjZmMvaXUv/ZW5nZWwxMi1qcGcu/anBn" alt="" class="src">
</main>

</body>
</html>