<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>THE LEGEND, TOMMY ENGEL</title>
    <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <nav>
        <div class="logo-wrapper">
            <img src="https://imgs.search.brave.com/1DaNIjSZgSi4OJdASf0hYRviYYtUvIWdlm9bnDzh0DA/rs:fit:300:88:1/g:ce/aHR0cHM6Ly93d3cu/dG9tbXllbmdlbC5k/ZS9pbWcvbG9nby5w/bmc" alt="" class="src">
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
        </div>
    </nav>
    <main>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-blt0Fn74CU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>
            <h2>Of Tommy Engel</h2>
            <ul>
              <li>1997: Viel Verkehr auf'm Meer (Single)</li>
              <li>1998: Kein Problem (Single, mit Grooveminister)</li>
              <li>1999: Live in der Philharmonie</li>
              <li>1999: Hadder Nit Jesin (Single)</li>
              <li>1999: „ENGEL“ – 100% Tommy Engel</li>
              <li>2006: Weihnachtsengel – Live aus dem Himmelszelt</li>
              <li>2006: Du bes Kölle! (Single)</li>
              <li>2007: Du bes Kölle</li>
              <li>2009: Zum Luure (DVD)</li>
              <li>2009: Das Beste solo und mit L.S.E. (1992–2002) (Kompilation)</li>
              <li>2010: Dummer nit esu</li>
              <li>2011: Favoriten (Kompilation)</li>
              <li>2015: Wenn Weihnachte es ...</li>
              <li>2016: Dat Kölsche Songbook</li>
            </ul>
          </div>
          <div>
            <h2>Of the Black Fööss</h2>
            <ul>
              <li>1970: Rievkooche Walzer / Selverhuhzick</li>
              <li>1974: Leev Linda Lou / Whisky Double für Old Wabbel</li>
              <li>1974: Wenn de Sonn schön schingk</li>
              <li>
                1975: Loss d’r Kopp nit hänge / De Mama kritt schon widder e Kind
              </li>
              <li>1975: Lück wie ich un du / Die 3 vun d’r Linie 2</li>
              <li>1975: Pänz, Pänz, Pänz / Einmol em Johr</li>
              <li>1976: Damenwahl em Stammlokal / Et Spanien-Leed</li>
              <li>1976: Ming eetste Fründin / Ich krij’e Bier un du kriß e Bier</li>
              <li>1977: Buuredanz</li>
              <li>1977: Sirtaki / Rita Schnell</li>
              <li>1977: Loss mer jet schunkele / Lange Samstag en d’r City</li>
              <li>1978: Danz Mädche Danz / Et jitt kei jrößer Leid</li>
              <li>1978: Kaffeebud / Himmelfahrt</li>
              <li>1978: Weia Oweia / Ich han nen Deckel</li>
              <li>1979: Familijedaach / Treck noch ens dat Kleid ahn</li>
              <li>1980: Indianer kriesche nit / Anglerleed</li>
              <li>1980: Flipper / M.S.Monika</li>
              <li>1981: Schäle Schäng / Kölsche Bröck</li>
              <li>1982: Schötzefess / Heimweh en Kölle</li>
              <li>1983: Achterbahn / Polterovend</li>
              <li>1984: Huusmeister Kaczmarek / Sporthall</li>
              <li>1986: Neña / Herman The German</li>
              <li>1987: Du bes zu schön / Kölle am Rhing</li>
              <li>1987: Baby I Love You / Loss m’r jon</li>
              <li>1987: Wochenplan / Wochemaat en Kölle, Wochenplan (DKF Version)</li>
              <li>
                1990: Dovun dräum ich sulang (Tanzbrunnen) / Dä Wing vun Kölle am
                Rhing
              </li>
              <li>1990: Bläck Fööss Band / Dat Wasser vun Kölle</li>
              <li>1990: Danz Bläck Fööss Danz / Maiwiese (Instrumental)</li>
              <li>1992: Tarzan / Rentner</li>
              <li>
                1993: Sie liebt dich / Komm gib mir deine Hand / Liebe deine Feinde
              </li>
              <li>1994: Rheinhotel</li>
              <li>1994: Kumm widder heim</li>
              <li>1996: Wenn et Leech usjing em Roxy</li>
              <li>1996: Do han sen en d’r Ärm jenomme</li>
              <li>1998: Mer bruche keiner</li>
              <li>1998: Fastelovendstrumm</li>
              <li>1998: Ein Leben nach dem Tod</li>
              <li>2000: Unsere Stammbaum</li>
              <li>2000: Zick zick eröm (Drink doch eine met 2000)</li>
              <li>2013: Kölner Leechter</li>
            </ul>
          </div>
    </main>
</body>
</html>